<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<!-- Strona rejestracji-->
<body>

  <div id="user_nav">
      <p>Posiadasz już konto?</p><br>
      <%= link_to "Zaloguj się tu!", log_in_path %>
  </div>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>

  <h1>Podaj dane do testu</h1>

  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
      <div class="error_messages">
        <h2>Dane wprowadzone do formularza są niepoprawne</h2>
        <ul>
          <% for message in @user.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <p>
      <%= f.label :Login %><br />
      <%= f.text_field :email %>
    </p>
    <p>
      <%= f.label :Hasło %><br />
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.label :Powtórz_hasło%><br />
      <%= f.password_field :password_confirmation %>
    </p>
    <p class="button"><%= f.submit "Zarejesrtuj się!"%></p>
  <% end %>
</body>
</html>
